webservice/PublishApp/PublishApp-war/web/WEB-INF/wsdl/localhost_8080/PublishService/PublishService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="PublishService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/PublishService/PublishService?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllSubscriptions">
<part name="parameters" element="tns:getAllSubscriptions"/>
</message>
<message name="getAllSubscriptionsResponse">
<part name="parameters" element="tns:getAllSubscriptionsResponse"/>
</message>
<message name="createCustomer">
<part name="parameters" element="tns:createCustomer"/>
</message>
<message name="updateCustomer">
<part name="parameters" element="tns:updateCustomer"/>
</message>
<message name="removeCustomer">
<part name="parameters" element="tns:removeCustomer"/>
</message>
<message name="addAddressToCustomer">
<part name="parameters" element="tns:addAddressToCustomer"/>
</message>
<message name="removeAddressFromCustomer">
<part name="parameters" element="tns:removeAddressFromCustomer"/>
</message>
<message name="addSubscriptionsToCustomers">
<part name="parameters" element="tns:addSubscriptionsToCustomers"/>
</message>
<message name="removeSubscriptionsFromCustomers">
<part name="parameters" element="tns:removeSubscriptionsFromCustomers"/>
</message>
<message name="addNewSubscription">
<part name="parameters" element="tns:addNewSubscription"/>
</message>
<message name="updateSubscription">
<part name="parameters" element="tns:updateSubscription"/>
</message>
<message name="removeSubscription">
<part name="parameters" element="tns:removeSubscription"/>
</message>
<message name="findSubscriptionsByTitle">
<part name="parameters" element="tns:findSubscriptionsByTitle"/>
</message>
<message name="findSubscriptionsByTitleResponse">
<part name="parameters" element="tns:findSubscriptionsByTitleResponse"/>
</message>
<message name="getAllCustomers">
<part name="parameters" element="tns:getAllCustomers"/>
</message>
<message name="getAllCustomersResponse">
<part name="parameters" element="tns:getAllCustomersResponse"/>
</message>
<message name="getCustomersByFirstName">
<part name="parameters" element="tns:getCustomersByFirstName"/>
</message>
<message name="getCustomersByFirstNameResponse">
<part name="parameters" element="tns:getCustomersByFirstNameResponse"/>
</message>
<message name="getCustomersByLastName">
<part name="parameters" element="tns:getCustomersByLastName"/>
</message>
<message name="getCustomersByLastNameResponse">
<part name="parameters" element="tns:getCustomersByLastNameResponse"/>
</message>
<message name="getAddressesOfCustomer">
<part name="parameters" element="tns:getAddressesOfCustomer"/>
</message>
<message name="getAddressesOfCustomerResponse">
<part name="parameters" element="tns:getAddressesOfCustomerResponse"/>
</message>
<message name="getSubscriptionsOfCustomer">
<part name="parameters" element="tns:getSubscriptionsOfCustomer"/>
</message>
<message name="getSubscriptionsOfCustomerResponse">
<part name="parameters" element="tns:getSubscriptionsOfCustomerResponse"/>
</message>
<message name="getCustomersOfTitle">
<part name="parameters" element="tns:getCustomersOfTitle"/>
</message>
<message name="getCustomersOfTitleResponse">
<part name="parameters" element="tns:getCustomersOfTitleResponse"/>
</message>
<portType name="PublishService">
<operation name="getAllSubscriptions">
<input wsam:Action="http://service/PublishService/getAllSubscriptionsRequest" message="tns:getAllSubscriptions"/>
<output wsam:Action="http://service/PublishService/getAllSubscriptionsResponse" message="tns:getAllSubscriptionsResponse"/>
</operation>
<operation name="createCustomer">
<input wsam:Action="http://service/PublishService/createCustomer" message="tns:createCustomer"/>
</operation>
<operation name="updateCustomer">
<input wsam:Action="http://service/PublishService/updateCustomer" message="tns:updateCustomer"/>
</operation>
<operation name="removeCustomer">
<input wsam:Action="http://service/PublishService/removeCustomer" message="tns:removeCustomer"/>
</operation>
<operation name="addAddressToCustomer">
<input wsam:Action="http://service/PublishService/addAddressToCustomer" message="tns:addAddressToCustomer"/>
</operation>
<operation name="removeAddressFromCustomer">
<input wsam:Action="http://service/PublishService/removeAddressFromCustomer" message="tns:removeAddressFromCustomer"/>
</operation>
<operation name="addSubscriptionsToCustomers">
<input wsam:Action="http://service/PublishService/addSubscriptionsToCustomers" message="tns:addSubscriptionsToCustomers"/>
</operation>
<operation name="removeSubscriptionsFromCustomers">
<input wsam:Action="http://service/PublishService/removeSubscriptionsFromCustomers" message="tns:removeSubscriptionsFromCustomers"/>
</operation>
<operation name="addNewSubscription">
<input wsam:Action="http://service/PublishService/addNewSubscription" message="tns:addNewSubscription"/>
</operation>
<operation name="updateSubscription">
<input wsam:Action="http://service/PublishService/updateSubscription" message="tns:updateSubscription"/>
</operation>
<operation name="removeSubscription">
<input wsam:Action="http://service/PublishService/removeSubscription" message="tns:removeSubscription"/>
</operation>
<operation name="findSubscriptionsByTitle">
<input wsam:Action="http://service/PublishService/findSubscriptionsByTitleRequest" message="tns:findSubscriptionsByTitle"/>
<output wsam:Action="http://service/PublishService/findSubscriptionsByTitleResponse" message="tns:findSubscriptionsByTitleResponse"/>
</operation>
<operation name="getAllCustomers">
<input wsam:Action="http://service/PublishService/getAllCustomersRequest" message="tns:getAllCustomers"/>
<output wsam:Action="http://service/PublishService/getAllCustomersResponse" message="tns:getAllCustomersResponse"/>
</operation>
<operation name="getCustomersByFirstName">
<input wsam:Action="http://service/PublishService/getCustomersByFirstNameRequest" message="tns:getCustomersByFirstName"/>
<output wsam:Action="http://service/PublishService/getCustomersByFirstNameResponse" message="tns:getCustomersByFirstNameResponse"/>
</operation>
<operation name="getCustomersByLastName">
<input wsam:Action="http://service/PublishService/getCustomersByLastNameRequest" message="tns:getCustomersByLastName"/>
<output wsam:Action="http://service/PublishService/getCustomersByLastNameResponse" message="tns:getCustomersByLastNameResponse"/>
</operation>
<operation name="getAddressesOfCustomer">
<input wsam:Action="http://service/PublishService/getAddressesOfCustomerRequest" message="tns:getAddressesOfCustomer"/>
<output wsam:Action="http://service/PublishService/getAddressesOfCustomerResponse" message="tns:getAddressesOfCustomerResponse"/>
</operation>
<operation name="getSubscriptionsOfCustomer">
<input wsam:Action="http://service/PublishService/getSubscriptionsOfCustomerRequest" message="tns:getSubscriptionsOfCustomer"/>
<output wsam:Action="http://service/PublishService/getSubscriptionsOfCustomerResponse" message="tns:getSubscriptionsOfCustomerResponse"/>
</operation>
<operation name="getCustomersOfTitle">
<input wsam:Action="http://service/PublishService/getCustomersOfTitleRequest" message="tns:getCustomersOfTitle"/>
<output wsam:Action="http://service/PublishService/getCustomersOfTitleResponse" message="tns:getCustomersOfTitleResponse"/>
</operation>
</portType>
<binding name="PublishServicePortBinding" type="tns:PublishService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllSubscriptions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="updateCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="addAddressToCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeAddressFromCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="addSubscriptionsToCustomers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeSubscriptionsFromCustomers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="addNewSubscription">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="updateSubscription">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeSubscription">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findSubscriptionsByTitle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllCustomers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomersByFirstName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomersByLastName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAddressesOfCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSubscriptionsOfCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomersOfTitle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PublishService">
<port name="PublishServicePort" binding="tns:PublishServicePortBinding">
<soap:address location="http://localhost:8080/PublishService/PublishService"/>
</port>
</service>
</definitions>